.header {
    position: relative;
}
.navigation {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.name {
    display: block;
    margin-right: 93px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    @include desktop {
        font-size: 26px;
        line-height: 1.2;
}
}
.name-studio {
    color: #000000;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}
.name-studio:hover,
.name-studio:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
    color: var(--accent-color);
}
.menu-button {
    position: absolute;
    top: 15px;
    right: 15px;
}
.menu-button, .menu-button-close {
    display: block;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    @include tablet {
        display: none;
    }
}
.menu-button, .menu-button-close {
    transition: color 250ms var(--timing-function);
}
.menu-button:hover, .menu-button-close:focus, .menu-button-close:hover,
.menu-button:focus {
    fill: var(--accent-color);
}
.menu-container {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        padding: 10px 15px 48px 40px;
        background-color: #ffffff;
        overflow-y: auto;
    &.is-hidden {
        display: none;
    }
    }
    @include tablet {
        display: flex;
        flex-grow: 1;
        width: 100%;
    }
}
.mob-menu-bottom {
    @include tablet {
    margin-left: auto;
}
}
.site-nav {
    @include tablet {
        display: flex;
    }
}
.site-nav .item {
    @include tablet {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.site-nav .item:not(:last-child) {
    margin-bottom: 32px;
    @include tablet {
        margin-bottom: 0;
        margin-right: 51px;
    }
    @include desktop {
        margin-right: 50px;
    }
}
.site-nav .link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    transition: color 250ms var(--timing-function);
    @include tablet {
        font-size: 14px;
        line-height: 1.14;
    }
}
@include tablet {
    .site-nav .link.current {
        position: relative;
    }
}
.site-nav .link.current::after {
    @include tablet {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -33px;
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
        transition: color 250ms --timing-function;
    }
    @include desktop {
        bottom: -33px;
    }
}
.contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
    @include tablet {
        flex-direction: column;
        margin-bottom: 0;
        padding-top: 21px;
    }
    @include desktop {
        flex-direction: row;
        margin-bottom: 0;
        padding-top: 0;
    }
}
.contacts .icon {
    display: none;
    @include tablet {
        display: block;
        padding: 0;
        margin-right: 10px;
        border: 0;
        fill: currentColor;
        &:hover, &:focus {
            fill: var(--accent-color);
        }
    }
}
.contacts .item:not(:first-child) {
    margin-bottom: 32px;
    @include tablet {
        margin-bottom: 0;
    }
    @include desktop {
        margin-left: 30px;
    }
}
.contacts .item:not(:last-child) {
    @include tablet {
        margin-bottom: 10px;
    }
    @include desktop {
        margin-bottom: 0;
    }
}
.contacts .item {
    @include tablet {
        margin-bottom: 0;
    }
    @include desktop {
        margin-bottom: 0;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.contacts .item:hover,
.contacts .item:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.contacts .link.phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @include tablet {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.17;
        color: var(--main-text-color);
    }
    @include desktop {
        font-size: 14px;
        letter-spacing: 1.14;
    }
}
.contacts .link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    @include tablet {
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    @include desktop {
        font-size: 14px;
        letter-spacing: 1.14;
    }
}
.soc-media {
    display: flex;
    @include tablet {
        display: none;
    }
}
.soc-media-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.soc-media-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
}