:root {
    --main-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --second-accent-color: #ffffff;
    --header-background-color: #ffffff;
    --team-section-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}